# Interfaz Web (Streamlit)
streamlit>=1.32.0

# Procesamiento de Audio y Multimedia
pydub
audioop-lpm  # Compatibilidad para Python 3.13+

# API y Red
elevenlabs
requests
python-dotenv

# Seguridad
keyring
cryptography

# Motor de Audio y Masterización (DSP)
pedalboard
soundfile
numpy

# Utilidades y Compatibilidad con SO
platformdirs
